:root {
    --brand-color: #FF5959;
    --primary-black: #333333;
    --secondary-color: #FFAD5A;
    --navy-blue-color: #13103A;
}

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
    overflow-x: hidden!important;
}

button:hover {
    background-color: transparent;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.gravitas-font {
  font-family: "Gravitas One"!important;
  font-weight: 800;
  font-style: normal;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lobster-font {
  font-family: "Lobster"!important;
  font-weight: 700;
  font-style: normal;
}

.brand-bg-color {
    background-color: var(--brand-color);
}

.brand-text-color {
    color: var(--brand-color);
}

.brand-border-color {
    border-color: var(--brand-color);
}

.primary-text-color {
    color: var(--primary-black);
}

.secondary-text-color {
    color: var(--secondary-color);
}

.navy-text-color {
    color: var(--navy-blue-color);
}

.navy-bg-color {
    background-color: var(--navy-blue-color);
}
/* Mission Section styles here **/

.card-1 {
    background-color: rgba(79, 157, 166, 0.1);
}

.card-2 {
    background-color: rgba(255, 89, 89, 0.1);
}

.card-3 {
    background-color: rgba(255, 244, 214, 1);
}